<web-app xmlns= "http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">                                       

<!-- General description of your Web application -->
<display-name>Real Lean Fitness</display-name>                                     
<description>World's BEST Fitness program.</description>                                 

    <!-- Start of Servlet definitions -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<!-- START AGenericServlet Definition -->
<servlet>
    <servlet-name>AGenericServlet</servlet-name>
    <!-- <description>Connects to a database from a servlet.</description> -->
	<servlet-class>dgx.software.com.ActionPackage.AGenericServlet</servlet-class>
	<init-param><param-name>DriverName</param-name><param-value>com.mysql.jdbc.Driver</param-value></init-param>
    <init-param><param-name>DatabaseURL</param-name><param-value>jdbc:mysql://localhost:10000/RLFDB</param-value></init-param>
	<init-param><param-name>DatabaseUser</param-name><param-value>RLFSoftware</param-value></init-param>
	<init-param><param-name>DatabasePassword</param-name><param-value>RLFPassword</param-value></init-param>
</servlet>
<servlet-mapping><servlet-name>AGenericServlet</servlet-name><url-pattern>/AGenericServlet</url-pattern></servlet-mapping>
<!-- END AGenericServlet Definition -->

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<!-- START BrowserValidationServlet Definition -->
<servlet>
    <servlet-name>UserSessionValidator</servlet-name>
    <!-- <description>Connects to a database from a servlet.</description>  -->
	<servlet-class>dgx.software.com.UtilityPackage.UserSessionValidator</servlet-class>
</servlet>
<servlet-mapping><servlet-name>UserSessionValidator</servlet-name><url-pattern>/UserSessionValidator</url-pattern></servlet-mapping>
<!-- END BrowserValidationServlet Definition -->

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<!-- START LoginServlet Definition -->
<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <!-- <description>Connects to a database from a servlet.</description> -->
	<servlet-class>dgx.software.com.ActionPackage.LoginServlet</servlet-class>
	<init-param><param-name>DriverName</param-name><param-value>com.mysql.jdbc.Driver</param-value></init-param>
    <init-param><param-name>DatabaseURL</param-name><param-value>jdbc:mysql://localhost:10000/RLFDB</param-value></init-param>
	<init-param><param-name>DatabaseUser</param-name><param-value>RLFSoftware</param-value></init-param>
	<init-param><param-name>DatabasePassword</param-name><param-value>RLFPassword</param-value></init-param>
</servlet>
<servlet-mapping><servlet-name>LoginServlet</servlet-name><url-pattern>/LoginServlet</url-pattern></servlet-mapping>
<!-- END LoginServlet Definition -->

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<!-- START RegistrationServlet Definition -->
<servlet>
    <servlet-name>RegistrationServlet</servlet-name>
	<!-- <description>Connects to a database from a servlet.</description> -->
	<servlet-class>dgx.software.com.ActionPackage.RegistrationServlet</servlet-class>
	<init-param><param-name>DriverName</param-name><param-value>com.mysql.jdbc.Driver</param-value></init-param>
    <init-param><param-name>DatabaseURL</param-name><param-value>jdbc:mysql://localhost:10000/RLFDB</param-value></init-param>
	<init-param><param-name>DatabaseUser</param-name><param-value>RLFSoftware</param-value></init-param>
	<init-param><param-name>DatabasePassword</param-name><param-value>RLFPassword</param-value></init-param>
</servlet>
<servlet-mapping><servlet-name>RegistrationServlet</servlet-name><url-pattern>/RegistrationServlet</url-pattern></servlet-mapping>
<!-- END RegistrationServlet Definition -->

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<!-- START UserProfileServlet Definition -->
<servlet>
    <servlet-name>UserProfileServlet</servlet-name>
	<!-- <description>Connects to a database from a servlet.</description> -->
	<servlet-class>dgx.software.com.ActionPackage.UserProfileServlet</servlet-class>
	<init-param><param-name>DriverName</param-name><param-value>com.mysql.jdbc.Driver</param-value></init-param>
	<init-param><param-name>DatabaseURL</param-name><param-value>jdbc:mysql://localhost:10000/RLFDB</param-value></init-param>
	<init-param><param-name>DatabaseUser</param-name><param-value>RLFSoftware</param-value></init-param>
	<init-param><param-name>DatabasePassword</param-name><param-value>RLFPassword</param-value></init-param>
</servlet>
<servlet-mapping><servlet-name>UserProfileServlet</servlet-name><url-pattern>/UserProfileServlet</url-pattern></servlet-mapping>
<!-- END UserProfileServlet Definition -->

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<!-- START UserInformationServlet Definition -->
<servlet>
    <servlet-name>UserInformationServlet</servlet-name>
    <!-- <description>Connects to a database from a servlet.</description> -->
	<servlet-class>dgx.software.com.ActionPackage.UserInformationServlet</servlet-class>
	<init-param><param-name>DriverName</param-name><param-value>com.mysql.jdbc.Driver</param-value></init-param>
	<init-param><param-name>DatabaseURL</param-name><param-value>jdbc:mysql://localhost:10000/RLFDB</param-value></init-param>
	<init-param><param-name>DatabaseUser</param-name><param-value>RLFSoftware</param-value></init-param>
	<init-param><param-name>DatabasePassword</param-name><param-value>RLFPassword</param-value></init-param>
</servlet>
<servlet-mapping><servlet-name>UserInformationServlet</servlet-name><url-pattern>/UserInformationServlet</url-pattern></servlet-mapping>
<!-- END UserInformationServlet Definition -->

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<!-- START ImageFileUploadServlet Definition -->
<servlet>
    <servlet-name>ImageFileUploadServlet</servlet-name>
    <!-- <description>Connects to a database from a servlet.</description> -->
	<servlet-class>dgx.software.com.ActionPackage.ImageFileUploadServlet</servlet-class>
	<init-param><param-name>DriverName</param-name><param-value>com.mysql.jdbc.Driver</param-value></init-param>
	<init-param><param-name>DatabaseURL</param-name><param-value>jdbc:mysql://localhost:10000/RLFDB</param-value></init-param>
	<init-param><param-name>DatabaseUser</param-name><param-value>RLFSoftware</param-value></init-param>
	<init-param><param-name>DatabasePassword</param-name><param-value>RLFPassword</param-value></init-param>
</servlet>
<servlet-mapping><servlet-name>ImageFileUploadServlet</servlet-name><url-pattern>/ImageFileUploadServlet</url-pattern></servlet-mapping>
<!-- END ImageFileUploadServlet Definition -->

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<!-- START EMailValidationServlet Definition -->
<servlet>
    <servlet-name>EMailValidationServlet</servlet-name>
	<servlet-class>dgx.software.com.ValidationPackage.EMailValidationServlet</servlet-class>
</servlet>
<servlet-mapping><servlet-name>EMailValidationServlet</servlet-name><url-pattern>/EMailValidationServlet</url-pattern></servlet-mapping>
<!-- END EMailValidationServlet Definition -->

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<!-- START LogOutServlet Definition -->
<servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <!-- <description>Connects to a database from a servlet.</description> -->
	<servlet-class>dgx.software.com.ActionPackage.LogOutServlet</servlet-class>
</servlet>
<servlet-mapping><servlet-name>LogOutServlet</servlet-name><url-pattern>/LogOutServlet</url-pattern></servlet-mapping>
<!-- END LogOutServlet Definition -->

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
    <!-- END Of Servlet definitions -->

<!-- START of Welcome File definition -->
<welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
</welcome-file-list>
<!-- END of Welcome File definition -->

<!-- START Custom Error Pages -->
  <error-page>
      <error-code>500</error-code>
      <location>/JSP/Error/500ErrorPage.jsp</location>
  </error-page>

  <error-page>
      <error-code>404</error-code>
      <location>/JSP/Error/404ErrorPage.jsp</location>
  </error-page>
<!-- END Custom Error Pages -->

<!-- START Context Parameters and Listener for JavaBean Database Connection -->
  <context-param>  
    <description>This is the DB DriverName.</description>  
    <param-name>DriverName</param-name>  
    <param-value>com.mysql.jdbc.Driver</param-value>  
  </context-param>
  
  <context-param>
    <description>This is the DB DatabaseURL.</description>  
    <param-name>DatabaseURL</param-name>  
    <param-value>jdbc:mysql://localhost:10000/RLFDB</param-value>  
  </context-param>
  
  <context-param>
    <description>This is the DB DatabaseUser.</description>  
    <param-name>DatabaseUser</param-name>  
    <param-value>RLFSoftware</param-value>  
  </context-param>
  
  <context-param>  
    <description>This is the DB DatabasePassword.</description>  
    <param-name>DatabasePassword</param-name>  
    <param-value>RLFPassword</param-value>  
  </context-param>

<!-- START Listener -->
  <listener>
      <listener-class>dgx.software.com.UtilityPackage.ApplicationManagerListener</listener-class>
  </listener>
<!-- END Listener -->
<!-- END Context Parameters and Listener for JavaBean Database Connection -->

<!-- START TEST SERVLETS -->
  <servlet>
    <servlet-name>ThrowErrorServlet</servlet-name>
    <servlet-class>dgx.software.com.TestPackage.ThrowErrorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>ThrowErrorServlet</servlet-name>
  <url-pattern>/ThrowErrorServlet</url-pattern>
  </servlet-mapping>
<!-- END TEST SERVLETS -->

</web-app>

<!-- NOTES -->
<!-- Servlet Mapping specifies the Servlet Name (Doesn't have to be the name of the Servlet.class file) and URL Pattern to help the server determine which requests are sent to the servlet -->

